<h1 class="ls-title-intro ls-ico-pencil">Edit Idea</h1>

<%= render 'form' %>

<%= link_to 'Show', @idea, :class=>"ls-btn" %> 
<%= link_to 'Back', ideas_path, :class=>"ls-btn" %>

<!-- END DIV back button -->
</div>